BusinessProcess/lombard-integration/lombard-integration-model/src/main/resources/schema/CorrectTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://lombard.aus.fujixerox.com/outclearings/CorrectTransaction" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lombard.aus.fujixerox.com/outclearings/CorrectTransaction" xmlns:vc="http://lombard.aus.fujixerox.com/common/Voucher">
	<xs:annotation>
		<xs:documentation>Interface message schemas for the Correct Transaction service.

This service will send a request to Expert Balance the vouchers by the operator and link to the transactions. DIPS can mark the vouchers to be checked by expert balancing,  unprocessable , suspectFraud during the auto balancing.

At this stage operator can search the documentum for any listing for the BSB and processing date on voucher. If operator used any listing to balance the transaction, operator will update the page number of the listing used to balance.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://lombard.aus.fujixerox.com/common/Voucher" schemaLocation="Voucher.xsd"/>
	<xs:element name="CorrectBatchTransactionRequest" type="tns:CorrectBatchTransactionRequest"/>
	<xs:complexType name="CorrectBatchTransactionRequest">
		<xs:annotation>
			<xs:documentation>Batch-level processing request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="voucher" type="tns:CorrectTransactionRequest" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Collection of vouchers requiring expert balancing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucherBatch" type="vc:VoucherBatch" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher batch details and context.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectBatchTransactionResponse" type="tns:CorrectBatchTransactionResponse"/>
	<xs:complexType name="CorrectBatchTransactionResponse">
		<xs:annotation>
			<xs:documentation>Batch-level request processing response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="voucher" type="tns:CorrectTransactionResponse" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Collection of voucher-level responses from expert balancing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucherBatch" type="vc:VoucherBatch" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher batch context details. 

Note: this information is not modified and should be a duplicate of the request batch information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectTransactionRequest" type="tns:CorrectTransactionRequest"/>
	<xs:complexType name="CorrectTransactionRequest">
		<xs:annotation>
			<xs:documentation>Voucher-level correction request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="batchAuxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The is the batch header auxdom (i.e. batchAuxDom or batch serial number) used in adjustment processing (i.e. adjustment with no amount).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codelineFieldsStatus" type="vc:CodelineStatus" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of codeline fields.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditNoteFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether the voucher is a credit note (only relevant to some LockedBox items).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dips_override" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DIPS override indicator.

TODO: Do we need this as it may be inward only which does not have EB.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forValueIndicator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For value indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGeneratedVoucher" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify if the voucher was generated by DIPS as a subsequent voucher. There is no image with this voucher.
Integration layer will check this flag and add the voucher in the original batch before saving it to documentum.
The DefaultValue is false and set to true by DIPS when a subsequent voucher is created.

TODO: This is only relevant if propose solution goes through.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manualRepair" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manual repair flag - used in this request to indicate that previous manual correction was applied to the transaction (i.e. such as in codeline correction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTransmissionQaAmountFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by DIPS to mark if the voucher requires Post Transmission QA on the amount field.

This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTransmissionQaCodelineFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by DIPS to mark if the voucher requires Post Transmission QA on the codeline fields.

This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="presentationMode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is determined at DIPS stage when the operator cannot correct the codeline and set the acct number to a suspense acct. The possible values are:

	- E = Electronic    
	- M = Manual (this happens when the user mark a Non NAB/Agency Bank voucher to the other bank’s suspense account.)  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rawMICR" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Raw MICR data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rawOCR" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>All the values of MICR using OCR on voucher.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reasonCode" type="vc:ExpertBalanceReason" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reason code explaining why expert balancing is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surplusItemFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether a voucher is identified as a surplus item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suspectFraudFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag to indicate voucher is marked for checking suspected fraud.

	- Default value is false
	- True : voucher is marked for checking suspected fraud


Based on APCA rules, during validation we identify items which satisfy all of these criteria:
	Is debit item
	Has OCR
	Does not have MICR
These items will be flagged for checking at Expert Balancing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetEndPoint" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="thirdPartyCheckRequired" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether third party checking is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thirdPartyMixedDepositReturnFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>In the event where a multi credit ECD is received and one credit is a NAB deposit and the other is an Agent Bank deposit.
NAB’s requirement is to remove the transaction from further processing and return back to NAB.

thirdPartyMixedDepositReturnFlag will be set to true by dips and save in Documentum

If Y – No VIFS or IE created, items to be populated on the NAB ECD Exceptions Report, vouchers retrieved and returned to NAB.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionLinkNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction link number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unencodedECDReturnFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>unencodedECDReturnFlag to identify certain agent bank ECD deposits which are unencoded. These item will not require TPC and will be removed from further processing i.e. no VIF or IE. However we still need to populate the Agent Bank’s ECD Exceptions report with these items.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unprocessable" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher is identified as unprocessable.

TODO: Why do these go in to EB??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucher" type="vc:Voucher" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher details (requiring expert balancing).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectTransactionResponse" type="tns:CorrectTransactionResponse"/>
	<xs:complexType name="CorrectTransactionResponse">
		<xs:annotation>
			<xs:documentation>Voucher-level correction processing response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="adjustedBy" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Operator who adjusted the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adjustedFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Marked as true for the individual vouchers adjusted. This is required by Adjustment Reports.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adjustmentDescription" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
Adjustment	Adjustment 
Code		Description

51		NAB Writeoff &lt; $10
52		Error in Additions
53		Total Brought Forward Incorrectly
54		Cash Received differs to Customer Listings
55		Chq/Merch Env incorrectly listed
56		Chq/Merch Env listed, not received
57		Multi Credit, correct Credit unknown
58		No Deposit Listing Received
59		Foreign Item, unable to process
60		Other
76		Chq/Merch Env rcvd not listed
77		No credit received</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adjustmentLetterRequired" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True if adjustment letter needs to be generated for NAB based on business rules mentioned at 
http://ausbps-sydev11/sites/ProjectCollection/bpsprojects/lombard/Lombard%20Documents/Adjustments/Adjustment%20Rules.xlsx?Web=1 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="adjustmentReasonCode" type="vc:AdjustmentReasonCodeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
Adjustment	Adjustment 
Code		Description

51		NAB Writeoff &lt; $10
52		Error in Additions
53		Total Brought Forward Incorrectly
54		Cash Received differs to Customer Listings
55		Chq/Merch Env incorrectly listed
56		Chq/Merch Env listed, not received
57		Multi Credit, correct Credit unknown
58		No Deposit Listing Received
59		Foreign Item, unable to process
60		Other
76		Chq/Merch Env rcvd not listed
77		No credit received</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateAccountNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate/optional account number for the voucher.

This will normally not be used unless alternate details are required (such as a suspense account or similar).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateAuxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate/optional auxiliary domestic value for the voucher.

This will normally not be used unless alternate details are required (such as a suspense account or similar).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateBsbNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate/optional BSB for the voucher.

Full 6 digit BSB number including leading zeros. Must be valid BSB number in Australia as per APCA publications. 

This will normally not be used unless alternate details are required (such as a suspense account or similar).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateExAuxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate/optional extra auxiliary domestic for the voucher.

This will normally not be used unless alternate details are required (such as a suspense account or similar).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateTransactionCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate/optional transaction code for the voucher.

This will normally not be used unless alternate details are required (such as a suspense account or similar).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditNoteFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether the voucher is a credit note (only relevant to some LockedBox items).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dips_override" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dipsSequenceNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The dipsSequenceNumber differentiates and orders the items with the same dipTraceNumber.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dipsTraceNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The dipsTraceNumber is one of the fields that determine a unique record. 

The combination of the dipsTraceNumber and the dipsSequenceNumber determines the unique record and also how the records should be ordered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forValueIndicator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field is set in DIPS to identify if the voucher is Outward For Value:
1) For NAB or NAB's agency banks, the field will be set to "c" or "d" for credit and debit respectively.
2) For other banks, the field will be set to "C" or "D" for credit and debit respectively.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="highValueFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>High Value Flag marked by Expert balancer operator.

High Value Reference table for will be provided by NAB which will have Bank and Max threshold as fields.
If NAB voucher and amount is more then the threshold; voucher marked for NAB suspense account
If agency bank voucher and amount is more then the threshold; voucher marked for NAB suspense account
If BoQ voucher in Queensland bank and amount is more then the threshold; voucher marked for BoQ suspense account.
Please refer the High Value process maps for conditions.
http://ausbps-sydev11/sites/ProjectCollection/bpsprojects/lombard/Lombard%20Documents/BA%20Working%20Documents/NAB%20Cheque%20Digitisation%20Process%20Maps%20v1.4.vsd</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="insertedCreditType" type="vc:InsertedCreditTypeEnum" minOccurs="1" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Used to identify the voucher as a type of inserted credit.

Non-inserted credits are expected to be NONE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isGeneratedVoucher" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify if the voucher was generated by Dips as a subsequent voucher. There is no image with this voucher.

Integration layer will check this flag and add the voucher in the original batch before saving it to documentum.

The DefaultValue is false and set to true by DIPS when a subsequent voucher is created. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isRetrievedVoucher" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field indicates whether voucher was retrieved from Documentum for use by another process. If true, the record already exists in Documentum and will need to be updated rather than inserted when it is saved back into Documentum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="listingPageNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Listing Page Number used for balancing the transaction. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manualRepair" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valid values are 1 or 0. Show "1" if one or more fields have been manually entered or altered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operatorId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="postTransmissionQaAmountFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by DIPS to mark if the voucher requires Post Transmission QA on the amount field.

This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTransmissionQaCodelineFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by DIPS to mark if the voucher requires Post Transmission QA on the codeline fields.

This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preAdjustmentAmount" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The original amount before any adjustments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="presentationMode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is determined at DIPS stage when the operator cannot correct the codeline and set the acct number to a suspense acct. The possible values are:

	- E = Electronic   
	- M = Manual (this happens when the user mark a Non NAB/Agency Bank voucher to the other bank’s suspense account.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surplusItemFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag identifies the voucher is surplus or not.

During balancing DIPS operators can identify vouchers which do not belong to the batch.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suspectFraudFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>At scanning, identify items which satisfy all of these criteria:
* Is debit item  
* Has OCR  
* Does not have MICR  

These items will be flagged for checking at Expert Balancing.
Expert Balancer will confirm if the item is a “Suspect Fraud” or “Not a Suspect Fraud” i.e. determines if the debit item is a cheque or internal debit voucher as only cheques can be deemed as suspect frauds.  
Items will go through the normal balancing and processing workflow.  
At end of processing, an operator will be required to manually complete the APCA Suspect Fraud form for each item flagged as a Suspect Fraud, attach an image of the item and send to the ledger bank (possibly by email). Ideally a suspect fraud report will be generated listing all the information required to complete the form. The reason for this manual process is that it was deemed the expected volumes (7-10 per day nationally) to be too low to automate it. Also there is talk that APCA may remove this suspect fraud rule in the near future (especially if the other banks are pushing mobile phone capture of cheques).  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetEndPoint" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="thirdPartyCheckRequired" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates whether third party checking is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thirdPartyMixedDepositReturnFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>In the event where a multi credit ECD is received and one credit is a NAB deposit and the other is an Agent Bank deposit.
NAB’s requirement is to remove the transaction from further processing and return back to NAB.

thirdPartyMixedDepositReturnFlag will be set to true by dips and save in Documentum

If true – No VIFS or IE created. Items to be populated on the NAB ECD Exceptions Report, vouchers retrieved and returned to NAB.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionLinkNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Translation link number which is used to link transactions (i.e. all items in a transaction share the same transaction link number value).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unencodedECDReturnFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>unencodedECDReturnFlag to identify certain agent bank ECD deposits which are unencoded. These items will not require TPC and will be removed from further processing i.e. no VIF or IE. However we still need to populate the Agent Bank’s ECD Exceptions report with these items.
DISP will mark this flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unprocessable" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher is identified as unprocessable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucher" type="vc:Voucher" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucherDelayedIndicator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>As part of High Value Processing, any item deemed to be over the threshold must be posted to NAB suspense. However the image (if it is another bank item) must still be sent to the other bank in IE with the Voucher Indicator field marked as “N? This was to be flagged in DIPS.

D - Indicator that image is delayed
N - Indicator that image has been sent on a delayed basis
or Blank</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
