BusinessProc-Dev/lombard-integration/lombard-integration-model/src/main/resources/schema/CorrectCodeline.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://lombard.aus.fujixerox.com/outclearings/CorrectCodeline" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lombard.aus.fujixerox.com/outclearings/CorrectCodeline" xmlns:v="http://lombard.aus.fujixerox.com/common/Voucher">
	<xs:import namespace="http://lombard.aus.fujixerox.com/common/Voucher" schemaLocation="Voucher.xsd"/>
	<xs:element name="CorrectCodelineRequest" type="tns:CorrectCodelineRequest"/>
	<xs:complexType name="CorrectCodelineRequest">
		<xs:sequence>
			<xs:element name="accountNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Number on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountNumberStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of account number on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount in cents on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amountConfidenceLevel" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Confidence level of captured amount using Courtesy Amount Recognition functionality
value 0-999
0     : Low confidence
999 : High confidence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amountStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of amount on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="auxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Auxiliary Domestic on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="auxDomStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of Auxiliary Domestic o on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsbNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>BSB on the codeline of the voucher. Full 6 digit BSB number including leading zeros. Must be valid BSB number in Australia as per APCA publications. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsbNumberStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of bsb Number on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="capturedAmount" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Captured amount using Courtesy Amount Recognition functionality</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectingBank" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="documentReferenceNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique document reference number generated for the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="v:DocumentTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extraAuxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Extra Auxiliary Domestic on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extraAuxDomStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of Extra Auxiliary Domestic o on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forValueType" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="processingDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="repostFromDRN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="repostFromProcessingDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="transactionCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction code on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionCodeStatus" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status of transaction Code on the voucher as per codeline validation function
True: if codeline is valid 
False: if codeline is not valid  and need to correct as per codeline correction function</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectBatchCodelineResponse" type="tns:CorrectBatchCodelineResponse"/>
	<xs:complexType name="CorrectBatchCodelineResponse">
		<xs:sequence>
			<xs:element name="voucher" type="tns:CorrectCodelineResponse" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Batch of voucher objects</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucherBatch" type="v:VoucherBatch" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectBatchCodelineRequest" type="tns:CorrectBatchCodelineRequest"/>
	<xs:complexType name="CorrectBatchCodelineRequest">
		<xs:sequence>
			<xs:element name="jobIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="voucher" type="tns:CorrectCodelineRequest" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Batch of voucher objects</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voucherBatch" type="v:VoucherBatch" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorrectCodelineResponse" type="tns:CorrectCodelineResponse"/>
	<xs:complexType name="CorrectCodelineResponse">
		<xs:sequence>
			<xs:element name="accountNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Number on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount in cents on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="auxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Auxiliary Domestic on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bsbNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>BSB on the codeline of the voucher. Full 6 digit BSB number including leading zeros. Must be valid BSB number in Australia as per APCA publications. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectingBank" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dips_override" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="documentReferenceNumber" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique document reference number generated for the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentType" type="v:DocumentTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extraAuxDom" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Extra Auxiliary Domestic on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forValueIndicator" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field is set in DIPS to identify if the voucher is Outward For Value:
1) For NAB or NAB's agency banks, the field will be set to "c" or "d" for credit and debit respectively.
2) For other banks, the field will be set to "C" or "D" for credit and debit respectively.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manualRepair" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valid values are 1 or 0. Show "1" if one or more fields have been manually entered or altered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operatorID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Id for the operator who open the image and worked on that. This is required for reporting/Audit purposes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTransmissionQaAmountFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by dips to mark if the voucher required Post transmission QA on amount field. This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTransmissionQaCodelineFlag" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This flag will be set by dips to mark if the voucher required Post transmission QA on codeline fields. This flag will be used by Documentum workflow for post transmission QA process. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="presentationMode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is determined at DIPS stage when the operator cannot correct the codeline and set the acct number to a suspense acct. The possible values are:

	- E = Electronic  
	- M = Manual (this happens when the user mark a Non NAB/Agency Bank voucher to the other bank’s suspense account.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processingDate" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Voucher Processing Date from Inwards for Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="repostFromDRN" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="repostFromProcessingDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="targetEndPoint" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The agent/bank that the outclearing files should go.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction code on the voucher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionLink" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="unprocessable" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>true if voucher was not able to process</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>